<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SWM</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <!--<header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">-->
                        @*<li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>*@
                    <!--</ul>
                </div>
            </div>
        </nav>
    </header>-->

        <main role="main" class="pb-3" style="margin-bottom: 13%;">
            @RenderBody()
        </main>
   

    <footer class="border-top footer text-muted">
        <div class="" style="width:100%;">
            <div class="row justify-content-center bg-footer" style="margin-top: 6%;">

                <a href="https://transformingindia.mygov.in" target="blank">
                    <img src="/Images/linkImages/Transforming-india-logo.png" style="
    padding: 8px;">
                </a>
                <a href="https://innovateindia.mygov.in" target="blank">
                    <img src="/Images/linkImages/innovation-logo.png" style="border-left: 1px solid #6b6c6f;
   padding: 8px;">
                </a>
                <a href="https://swachhbharat.mygov.in/" target="blank">
                    <img src="/Images/linkImages/swachh-bharat.png" style="border-left: 1px solid #6b6c6f;padding: 8px;">
                </a>
                <a href="https://quiz.mygov.in" target="blank">
                    <img src="/Images/linkImages/mygov_quiz.png" style="border-left: 1px solid #6b6c6f;
   padding: 8px;">
                </a>
                <a href="https://blog.mygov.in" target="blank">
                    <img src="/Images/linkImages/blog-logo.png" style="border-left: 1px solid #6b6c6f;
    padding: 8px;">
                </a>
                <a href="https://self4society.mygov.in" target="blank">
                    <img src="/Images/linkImages/itowe-logo.png" style="border-left: 1px solid #6b6c6f;
 padding: 8px;">
                </a>
                <a href="https://egreetings.gov.in" target="blank">
                    <img src="/Images/linkImages/e-greating.png" style="border-left: 1px solid #6b6c6f;
 padding: 8px;">
                </a>

            </div>
            <div class="row justify-content-center bg-black">

                <a href="http://www.digitalindia.gov.in" target="blank">
                    <img src="/Images/linkImages/digital-india-logo.png" style="
    padding: 10px;">
                </a>
                <a href="http://data.gov.in" target="blank">
                    <img src="/Images/linkImages/data-gov-logo.png" style="border-left: 1px solid #3e3e42;
   padding: 10px;">
                </a>
                <a href="https://india.gov.in" target="blank">
                    <img src="/Images/linkImages/india-gov-logo.png" style="border-left: 1px solid #3e3e42;
    padding: 10px;">
                </a>
                <a href="https://www.mygov.in" target="blank">
                    <img src="/Images/linkImages/mygov-footer-logo.png" style="border-left: 1px solid #3e3e42;
   padding: 10px;">
                </a>
                <a href="http://meity.gov.in/" target="blank">
                    <img src="/Images/linkImages/Meity_logo.png" style="border-left: 1px solid #3e3e42;
    padding: 10px;">
                </a>
                <a href="http://pmindia.gov.in" target="blank">
                    <img src="/Images/linkImages/pm-india-logo.png" style="border-left: 1px solid #3e3e42;
 padding: 10px;">
                </a>


            </div>
</div>
</footer>
    @*<script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        @await RenderSectionAsync("Scripts", required: false)*@
</body>
</html>
