@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>SWM</title>
    <link rel="icon" type="image/x-icon" href="~/Images/SWM_Logo.png">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="~/css/Main.css" rel="stylesheet" />
    <style type="text/css">
    </style>
</head>
<body>
    <a href="@Url.Action("Main", "Home")">
        <div id="bg">
            <img src="~/Images/Book-Cover.png" alt="">
        </div>
    </a>


</body>
</html> 