
body{margin:0px}



#bg {
    width: 100%;
}

    #bg img {
        width: 100%;
        height: 100vh;
        /* margin-left: 25%;*/
    }

td{
    text-align:center;
}



@media (max-width: 500px) {
    #bg img {
        height:100% !important;
    }
    canvas {
        width: 100% !important;
    }

    .mapq {
        width: 100% !important;
        height:350px !important;
    }
    .map {
        width: 100% !important;
        height: 420px !important;
    }
    #mahamap{flex-direction:column!important;margin-left:0px!important}
}


@media (max-width: 1050px) {
   /* #bg img {
        height: 100% !important;
    }

    canvas {
        width: 100% !important;
    }

    .mapq {
        width: 100% !important;
        height: 350px !important;
    }*/

    #mahamap {
        flex-direction: column !important
    }
}



